.mesagreen{
            float: left;
            background: url(../images/mesaGreen.png) bottom right;
            width: 41px;
            height: 41px;
            margin-left: 10px;
        }
        .mesaorange{
            float: left;
            background: url(../images/mesaOrange.png) bottom right;
            width: 41px;
            height: 41px;
            margin-left: 10px;  
        }
        .mesared{
            float: left;
            background: url(../images/mesaRed.png) bottom right;
            width: 41px;
            height: 41px;
            margin-left: 10px;
        }
        .textomesa{
            padding-top: 9px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        .clear {
             clear: left;
             height:10px;
        }
        .corredor{
            float: left;
            background: url(../images/corredor.svg);
            width: 100px;
            height: 100%;
        }
        hr.style-one {
             border: 0;
             height: 1px; 
             background: #333; 
             background-image: linear-gradient(to right, #ccc, #000, #ccc); 
        }
        p.rodape{
            text-align: center;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        .lotes{
            margin: 0 auto;
            margin-right:2px;
            padding: 2px;
        }
        .banco{
            width: 80%;
            border: 1px solid black;
            margin: 0 auto;
            padding: 2px;
        }
        .colabore{
            width: 80%;
            border: 1px solid black;
            margin: 0 auto;
            padding: 2px;
        }